/*----------navbar-----------*/
.collapse{
    
    text-align: center;
}
header{
    background-color: #3e4939;
}
.nav-link{
    color: antiquewhite;
    font-size: 14px;
}
/*---------navbar-end------------*/
/*-----footer-----------*/
footer ul li{
    list-style-type: none;

}
footer{
    padding-top: 90px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #3e4939;
    color: white;
    padding-bottom: 100px;
    margin-top: 20px;
}
footer form input{
    border: none;
    width: 80%;
    background-color: #3e4939;
}
footer form button{
    border: none;
    background-color: #3e4939;
    color: white;
    font-size: 20px;
}
footer form{
    border-bottom: 2px solid white;
    width: 80%;
    background-color: #3e4939;
}
footer a:link{
    text-decoration: none;
    color: white;
    background-color: #ffffff21;
    padding: 7px;
    margin: 4px;
}
#s1{
    background-image: url(assets/yoga_about03.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #f6efe7;
    background-size: 100% 80%;
}

#s1 h1{
    font-size: 150px;
    font-family: edensor;
    text-align: center;
    padding: 0px 0px 350px 50px;
}
#s2{
    text-align: center;
    padding: 100px 20% 100px 20%;
}
.s2c1 p{
    font-size: 25px;
    color: #3e4939;
    font-family: lato sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}
/*-------------footer-end------------------*/
@media only screen and (min-width:1440px){
    footer h3{
        padding-top: 50px;
    }
    .nav-item{
        padding: 20px;
    }
}
@media only screen and (min-width:1024px) and (max-width:1440px){
    footer h3{
        padding-top: 50px;
    }
    .nav-item{
        padding: 20px;
    }
}
@media only screen and (min-width:992px) and (max-width:1024px){
    .nav-item{
        padding: 13px;
    }
    footer p{
        padding-top: 20px;
    }
    footer h3{
        padding-top: 50px;
    }
}
@media only screen and (min-width:100px) and (max-width:992px){
    .navbar{
        background-color: #3e4939;
    }
    .nav-item{
        border-bottom: 2px solid #ffffff21;
    }
    footer h3{
        padding-top: 50px;
    }
    footer img{
        padding-bottom: 40px;
    }
    footer p{
        padding-top: 20px;
    }
    .footerc1{
        text-align: center;
    }
}
@media only screen and (min-width:1024px){
    footer p{
        padding-top: 20px;
    }
}